<div class="container py-5">

  <div class="row justify-content-center">
    <h2> Intermediarios </h2>
  </div>

  <p *ngIf="activate">
    <ngb-alert [type]="message.type" (close)="close(alert)">{{ message.message }}</ngb-alert>
  </p>

    <div class="row">
        <div class="col-md-10 mx-auto">

          <!--BLOQUE DE BUSQUEDA-->


            <!--<div *ngIf="search" class="border-bottom border-dark" >
              <span class="m-5">
                <button type="button" class="close" aria-label="Close" (click) = "closeSearch()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </span>

              <form [formGroup]="searchForm" class="m-3">

                <div class="form-group row">

                  <div class="col-sm-6">
                    <label>ID</label>
                    <input #searchs class="form-control" type = "text" formControlName="_id" placeholder = "Código" (keyup.enter)="keytabSearch(1)">
                  </div>


                  <div class="col-sm-6">
                    <label>Nombre</label>
                    <input #searchs class="form-control" type="text" formControlName="name" placeholder="Nombre" (keyup.enter)="keytabSearch(2)" ngModel>
                  </div>

                  <div class="col-sm-6">
                    <label>Teléfono</label>
                    <input #searchs class="form-control" type="text" formControlName="telefono" placeholder="Teléfono" (keyup.enter)="onClickSearch()" ngModel>
                  </div>


                </div>

              </form>


            </div>-->

            <div class="mt-2">
              <button type="button" class="btn btn-secondary btn-block" (click)="showSearch()">Buscar</button>
              <br/>
            </div>


            <!--FIN BLOQUE DE BUSQUEDA-->

          <div *ngIf="delete">
                <button type="button" class="btn btn-danger btn-block" (click)="deleteElement()">Borrar</button>
                <br/>
          </div>

          <form [formGroup]="login" (ngSubmit) = "onClickSubmit()" >
            <div class="form-group row">
              <div class="col-sm-6">
                <label>ID</label>
              <input #inputs class="form-control" type="text" formControlName="_id" placeholder="ID" (keyup.enter)="keytab(1)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Nombre</label>
              <input #inputs class="form-control" type="text" formControlName="name" placeholder="Nombre" (keyup.enter)="keytab(2)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Dirección</label>
              <input #inputs class="form-control" type="text" formControlName="direccion" placeholder="dirección" (keyup.enter)="keytab(3)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Empresa</label>
              <input #inputs class="form-control" type="text" formControlName="bisni" placeholder="Empresa" (keyup.enter)="keytab(4)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Comisión</label>
              <input #inputs class="form-control" type="text" formControlName="comision" placeholder="Comisión" (keyup.enter)="keytab(5)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Teléfono</label>
              <input #inputs class="form-control" type="text" formControlName="telefono" placeholder="Teléfono" (keyup.enter)="keytab(6)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>observaciones</label>
              <input #inputs class="form-control" type="text" formControlName="observaciones" placeholder="observaciones" (keyup.enter)="onClickSubmit()" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Operaciones anuales</label>
              <input #inputs class="form-control" type="text" formControlName="operacionesAnuales" placeholder="Operaciones anuales" disabled ngModel>
              </div>
            </div>
          </form>


          <!-- Botones Guardar - limpar-->
          <div class="row">
            <div class="col-sm-6">
              <button type = "submit" class="btn btn-primary btn-block" (click)="onClickSubmit()"> Guardar </button>
            </div>
            <div class="col-sm-6">
              <button type = "submit" class="btn btn-secondary btn-block" (click)="login.reset()"> Limpiar </button>
            </div>
          </div>
          <!-- FIN Botones Guardar - limpar-->

        </div>
      </div>
      <div *ngIf="recibe">
      <div *ngFor="let inputs of db; let i = index" class="list-group list-group-flush">
        <div (click)="select(i)">
          {{inputs._id}} {{inputs.nombre}} {{inputs.direccion}} {{inputs.bisni}} {{inputs.telefono}}
        </div>
      </div>
      </div>
