<div class="container py-5">

  <div class="row justify-content-center">
    <h2> Contratos </h2>
  </div>

  <p *ngIf="activate">
    <ngb-alert [type]="message.type" (close)="close(alert)">{{ message.message }}</ngb-alert>
  </p>

    <div class="row">
        <div class="col-md-10 mx-auto">

          <!--BLOQUE DE BUSQUEDA-->


            <!--<div *ngIf="search" class="border-bottom border-dark" >

              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" (click)="cambioSearch('contratos')">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Contrato
                </label>
                <label class="btn btn-secondary" (click)="cambioSearch('clientes')">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Cliente
                </label>
              </div>

              <span class="m-5">
                <button type="button" class="close" aria-label="Close" (click) = "closeSearch()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </span>

              <form [formGroup]="searchForm" class="m-3">

                <div class="form-group row">

                  <div class="col-sm-6">
                    <label>Número de la factura</label>
                    <input #searchs class="form-control" type="text" formControlName="_id" placeholder="Número de la factura" ngModel  (keyup.enter)="keytabSearch(1)">
                  </div>

                  <div class="col-sm-6">
                    <label>ID cliente</label>
                    <input #searchs class="form-control" type="number" formControlName="clientCode" placeholder="Código cliente" ngModel (keyup.enter)="keytabSearch(2)">
                  </div>

                  <div class="col-sm-6">
                    <label>Teléfono</label>
                    <input #searchs class="form-control" type="number" formControlName="telefono" placeholder="Teléfono" (keyup.enter)="onClickSearch()" ngModel>
                  </div>

                </div>

              </form>


            </div>-->

            <div class="mt-2">
              <button type="button" class="btn btn-secondary btn-block" (click)="showSearch()">Buscar</button>
              <br/>
            </div>


            <!--FIN BLOQUE DE BUSQUEDA-->


            <!-- Bloque de botones -->
          <button (click)=onClickAdd() class="btn btn-secondary btn-block">Añadir conductor</button>
          <br/>

          <div *ngIf="delete">
                <button type="button" class="btn btn-danger btn-block" (click)="deleteElement()">Borrar</button>
                <br/>
          </div>
          <div *ngIf="readyToPrint">
                <button type="button" class="btn btn-success btn-block" (click)="printData()">Imprimir</button>
                <br/>
          </div>

          <!-- FIN Bloque de botones -->




          <form  [formGroup]="login"  (ngSubmit) = "onClickSubmit()" >
            <div class="form-group row">


              <div class="col-sm-6">
                <label>Número de la factura</label>
                <input #inputs class="form-control" type="text" formControlName="_id" placeholder="Número de la factura" ngModel  (keyup.enter)="keytab(1)" disabled>
              </div>

              <div class="col-sm-6">
                <label>ID cliente</label>
                <input #inputs class="form-control" type="text" formControlName="clientCode" placeholder="Código cliente" ngModel (keyup.enter)="keytab(2)">
              </div>


              <div class="col-sm-6">
                <label>Grupo del vehículo</label>
                <input #inputs class="form-control" type="text" formControlName="grupo" placeholder="Grupo vehículo" (change)="setTarifaGrupo()" (keyup.enter)="keytab(3)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Matrícula</label>
                <input #inputs class="form-control" type="text" formControlName="matricula" placeholder="Matrícula" (keyup.enter)="keytab(4)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Gasolina</label>
                <input #inputs class="form-control" type="text" formControlName="gasolina" placeholder="Gasolina" (keyup.enter)="keytab(5)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Número de reserva del hotel</label>
                <input #inputs class="form-control" type="text" formControlName="numHotel" placeholder="Número reserva del hotel"  (keyup.enter)="keytab(6)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Intermediario</label>
                <input #inputs class="form-control" type="text" formControlName="intermediario" placeholder="Intermediario" (keyup.enter)="keytab(7)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Operador</label>
                <input #inputs class="form-control" type="text" formControlName="operador" placeholder="Operador" (keyup.enter)="keytab(9)" ngModel>
              </div>


              <div class="col-sm-6">
                <label>Lugar</label>
                <input #inputs class="form-control" type="text" formControlName="lugar" placeholder="Lugar" (keyup.enter)="keytab(10)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Teléfono</label>
                <input #inputs class="form-control" type="number" formControlName="telefono" placeholder="Teléfono" (keyup.enter)="keytab(11)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Salida del vehículo</label>
                <input #inputs class="form-control" type="text" formControlName="posVehiculo" placeholder="Salida del vehículo" (keyup.enter)="keytab(12)" ngModel>
              </div>

              <div class="col-sm-6">
                <label>Lugar de entrega</label>
                <input #inputs class="form-control" type="text" formControlName="posFinalVehiculo" placeholder="Lugar de entrega" (keyup.enter)="keytab(13)" ngModel>
              </div>



              <div class="col-sm-6">
                <label>Fecha salida</label>
                <input #inputs class="form-control" type="datetime-local" formControlName="fechaSalida" placeholder="Fecha salida" (keyup.enter)="keytab(14)" ngModel>
              </div>


              <div class="col-sm-6">
                <label>Fecha entrada</label>
                <input #inputs class="form-control" type="datetime-local" formControlName="fechaEntrada" placeholder="Fecha entrada" ngModel (keyup.enter)="keytab(15)" (change)="calculatePrice()">
              </div>

              <div class="col-sm-6">
                <label>IGIC</label>
                <input  class="form-control" type="number" formControlName="igic" placeholder="IGIC" ngModel (change)="calculatePrice()" (keyup.enter)="keytab(16)">
              </div>

              <div class="col-sm-6">
                <label>Tarifa</label>
                <input  class="form-control" type="number" formControlName="tarifa" placeholder="Tarifa" ngModel (change)="calculatePrice()" (keyup.enter)="keytab(17)">
              </div>


              <div class="col-sm-6">
                <label>Seguro vehículo</label>
                <input  class="form-control" type="number" formControlName="seguroCoche" placeholder="Tasa seguro" ngModel (change)="calculatePrice()" (keyup.enter)="keytab(18)">
              </div>

              <div class="col-sm-6">
                <label>Seguro personal</label>
                <input  class="form-control" type="number" formControlName="seguroPersonal" placeholder="Tasa seguro" ngModel (change)="calculatePrice()" (keyup.enter)="keytab(19)">
              </div>

              <div class="col-sm-6">
                <label>Precio</label>
                <input  class="form-control" type="number" formControlName="precio" placeholder="Precio" ngModel>
              </div>

          </div>


          <div *ngFor="let input of t.controls; let i = index" class="list-group list-group-flush">
              <div [formGroup]="input" class="form-row">
                  <div class="form-group col-6">
                      <label>Nombre</label>
                      <input #inputs type="text" formControlName="name" class="form-control" (keyup.enter)="keytab(20, i)"/>
                  </div>

                  <div class="form-group col-6">
                      <label>Licencia</label>
                      <input #inputs type="text" formControlName="license" class="form-control" (keyup.enter)="keytab(20, i)"/>
                  </div>
              </div>
          </div>

            <div class="col-sm-6">
              <label>
                <input #inputs type="radio" ng-model="money" name="money" value="efectivo" (change)="cambio('efectivo')"  [checked]="true" (keyup.enter)="keytab(-1)">
                Efectivo
              </label>
            </div>

            <div class="col-sm-6">
              <label>
                <input #inputs type="radio" ng-model="money" name="money" value="tarjeta" (change)="cambio('tarjeta')" (keyup.enter)="onClickSubmit()" ng-value="tarjeta">
                Tarjeta
              </label>
            </div>
          </form>

          <!-- Botones Guardar - limpar-->
          <div class="row">
            <div class="col-sm-6">
              <button type = "submit" class="btn btn-primary btn-block" (click)="onClickSubmit()"> Guardar </button>
            </div>
            <div class="col-sm-6">
              <button type = "submit" class="btn btn-secondary btn-block" (click)="login.reset()"> Limpiar </button>
            </div>
          </div>
          <!-- FIN Botones Guardar - limpar-->

        </div>
      </div>
    </div>
