.full{
  background: #003C77;

}

label{
  color: white;
  font-size: 20px;
}

input{
  color: white;
  background: #003C77;
  border : 0px;
  font-weight: bold;
  font-size: 20px;
}

button{
  font-size: 20px;
}


.form-control:disabled, .form-control[readonly]{
  color: white;
  background: #003CBB;
  border : 0px;
  font-weight: bold;
}

h2{
  color: white;
}

.example-container {
  height: 80%;
  overflow: auto;
}

table {
  margin: auto;
  width: 100%;
}


mat-cell, .mat-cell {
  padding-right: 5%;
}

.posEso{
  background: #003C77;
}

table{
  background: #003C77;
}

th{
  font-weight: bold;
  color: white;
  font-size: 20px;
}

td{
  color: white;
  font-size: 20px;
}
