
<div class="container py-5">
  <div class="row justify-content-center">
    <h2> Operadores </h2>
  </div>
<form #login = "ngForm" (ngSubmit) = "onClickSubmit()" >

  <input #inputs class="form-control" type="text" name="_id" placeholder="Código" (keyup.enter)="keytab(1)" ngModel>
  <br/>

  <input #inputs class="form-control" type="text" name="name" placeholder="Nombre" (keyup.enter)="onClickSubmit()" ngModel>
  <br/>
</form>
<button type = "submit" class="btn btn-primary btn-block" (click)="onClickSubmit()"> Crear </button>

<div class="container py-5">

<!--Licencia de conducir, Nombre, Direccion (con poblacion), Direccion local. dni, nacionalidad y fecha de nacimiento (sucursal), codigo primary key-->
