mat-sidenav{
  background: blue;
}

mat-sidenav a{
  color: white;
}


.home {
  color: white;
}


.iconoDerecha {
  left: 90%;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
