.coulorines{
  margin:0px;
  padding:0px;
}

.mb-2{
  margin-bottom: 0px!important;
}
.p-3{
  padding: 0.75rem!important;
}
tr{
  height: 50%;
}
.dias{
  text-align: center;
}

table{
  font-size: 75%;
}


.eso{
  margin-top: 10%;
}
