.coulorines{
  margin:0px;
  padding:0px;
}

.mb-2{
  margin-bottom: 0px!important;
}
.p-3{
  padding: 0.75rem!important;
}
tr{
  height: 50%;
}
.dias{
  text-align: center;
}

table{
  font-size: 75%;
}


.eso{
  margin-top: 5%;
}

.group {
  margin-top: 2%;
}

.centro{
  border-left: 1px black solid;
  border-right:  1px black solid;
}

label{
  color: white;
  font-size: 20px;
}

input{
  color: white;
  background: #003C77;
  border : 0px;
  font-weight: bold;
}


.form-control:disabled, .form-control[readonly]{
  color: white;
  background: #003CBB;
  border : 0px;
  font-weight: bold;
}

h2{
  color: white;
}

span, div, table{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
