
<div class="container group">
  <div class="row">
    <div class="col-5">
      <form [formGroup]="login">
        <label>Fecha</label>
        <input #inputs class="form-control" type = "date" formControlName="fecha" (change)="changeMonth()">
      </form>
    </div>

  <!--  <div class="col-5">

    <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Input & change events"
           (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>-->
    <div class="col-5 col-2 align-self-end">
      <label>Grupos</label>
      <select (change)="changeGroup($event.target)">
        <option *ngFor="let grupo of grupos">{{grupo}}</option>
      </select>
      <!--<mat-form-field>
        <mat-label>Grupo</mat-label>
        <mat-select (selectionChange)="changeGroup($event)">
          <mat-option *ngFor="let grupo of grupos" [value]="grupo">
            {{grupo}}
          </mat-option>
        </mat-select>
      </mat-form-field>-->
    </div>

    <div class="col-2 align-self-end">
      <button mat-icon-button (click)="updateMonth(-1)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <span class="centro">
        <button mat-icon-button (click)="updateMonth(0)">
          <mat-icon>brightness_1</mat-icon>
        </button>
      </span>

      <button mat-icon-button (click)="updateMonth(1)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="siete" (click)="aSieteDias()">
  <p>Cambiar a: 14 días</p>
</div>


<div class="container" *ngIf="!siete" (click)="aSieteDias()">
  <p>Cambiar a: 7 días</p>
</div>



<div class="table-responsive-sm eso">
  <table class="table table-sm container">
    <ng-container *ngFor="let semana of semanasV">
      <thead>
        <tr>
           <th scope="col"> Día </th>
            <th class="dias" scope="col" *ngFor="let dias of semana | keyvalue">
              {{ dias.key | date:"dd"}}
            </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of sortMat">
          <th scope="row">
            {{ element }}
          </th>
          <td class="coulorines" *ngFor="let col of semana | keyvalue">
            <div *ngIf="col.value[element] == 1" class="p-3 mb-2 bg-danger text-white">
            </div>
            <div *ngIf="col.value[element] == 0" class="p-3 mb-2 bg-success text-white">
            </div>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>
