/*form {
  margin:auto;
  width: 75%;
  padding: 10px;
}

label{
  font-size: 200%;
}

.wrt{
  width: 90%;
  height: 25%;


  font-size: 150%;
}

.rdo{
  -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
}

#radioIn{
  margin-bottom: 5%;
}

.button{
  border-top: 0px;
  border-left: 0px;
  height: 100%;
  width: 100%;
  font-size: 150%;
  box-shadow: 4px 4px 8px black;
}

mat-grid-tile{
  padding: 0px;
  margin: 0px;
}*/


.full{
  background: #003C77;
  height: 100%;
}

label{
  color: white;
}

input{
  color: white;
  background: #003C77;
  border : 0px;
  font-weight: bold;
}


.form-control:disabled, .form-control[readonly]{
  color: white;
  background: #003CBB;
  border : 0px;
  font-weight: bold;
}

h2{
  color: white;
}

input, button, label{
  font-size: 20px;
}

div{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
