.example-container {
  height: 80%;
  overflow: auto;
}

table {
  margin: auto;
  width: 75%;
}


mat-cell, .mat-cell {
  padding-right: 5%;
}


.mat-form-field {
  font-size: 24px;
  margin: 2% 5% 2% 5%;
  padding-right : 5%;
  width: 95%;
}

th.mat-sort-header-sorted {
  color: black;
}


.full{
  background: #003C77;
  height: 100%;
}

label{
  color: white;
}

input{
  color: white;
  background: #003C77;
  border : 0px;
  font-weight: bold;
}


.form-control:disabled, .form-control[readonly]{
  color: white;
  background: #003CBB;
  border : 0px;
  font-weight: bold;
}

h2{
  color: white;
}

table{
  background: #003C77;
}

th{
  font-weight: bold;
  color: white;
}

td{
  color: white;
}


mat-form-field{
  font-size: 20px;
}

::placeholder{
  color: white;
}

div{
  font-size: 20px;
  color: white;
}
