<mat-form-field *ngIf="ready">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="example-container mat-elevation-z8" *ngIf="ready">

  <table mat-table [dataSource]="print">

    <ng-container *ngFor="let col of head" [matColumnDef]="col">
      <th class="header" mat-header-cell *matHeaderCellDef> {{col}} </th>
      <td mat-cell *matCellDef="let element; let i = index" (click)="caca(i)"> {{element[col]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="head; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: head;"></tr>
  </table>
