<div class="full">
  <div class="container py-5">

      <div class="row justify-content-center">
        <h2> Clientes </h2>
      </div>

      <p *ngIf="mess.activate">
        <ngb-alert [type]="mess.message.type" (close)="mess.closeAlert()">{{ mess.message.message }}</ngb-alert>
      </p>


      <div class="row">
          <div class="col-md-10 mx-auto">



            <div class="mt-2">
              <button type="button" class="btn btn-secondary btn-block" (click)="showSearch()">Buscar</button>
              <br/>
            </div>


            <!--FIN BLOQUE DE BUSQUEDA-->






            <div *ngIf="delete">
                  <button type="button" class="btn btn-danger btn-block" (click)="deleteElement()">Borrar</button>
                  <br/>
            </div>

            <form [formGroup]="login" (ngSubmit) = "onClickSubmit()" >
              <div class="form-group row">
                <div class="col-sm-6">
                  <label>ID</label>
                  <input #inputs class="form-control" type = "number" formControlName="_id" placeholder = "Código" (keyup.enter)="move.keytab(questions, 1)" disabled>
                </div>

                <div class="col-sm-6">
                  <label>Licencia de conducir</label>
                  <input #inputs class="form-control" type = "text" #license formControlName="license" placeholder = "Licencia de conducir" (keyup.enter)="move.keytab(questions, 2)">
                </div>

                <div class="col-sm-6">
                  <label>Fecha de expedición</label>
                  <input #inputs class="form-control" type = "date" formControlName="fechaExp" placeholder = "Fecha de nacimiento" (keyup.enter)="move.keytab(questions, 3)">
                </div>

                <div class="col-sm-6">
                  <label>Nombre</label>
                  <input #inputs class="form-control" #name type = "text" formControlName="nombre" placeholder = "Nombre" (keyup.enter)="move.keytab(questions, 4)">
                </div>

                <div class="col-sm-6">
                  <label>Apellidos</label>
                  <input #inputs class="form-control" type = "text" formControlName="apellidos" placeholder = "Apellidos" (keyup.enter)="move.keytab(questions, 5)">
                </div>

                <div class="col-sm-6">
                  <label>Dirección local</label>
                  <input #inputs class="form-control" type = "text" formControlName="direccion" placeholder = "Dirección local" (keyup.enter)="move.keytab(questions, 6)">
                </div>

                <div class="col-sm-6">
                  <label>Correo electrónico</label>
                  <input #inputs class="form-control" type = "email" formControlName="email" placeholder = "Correo electrónico" (keyup.enter)="move.keytab(questions, 7)">
                </div>

                <div class="col-sm-6">
                  <label>Pasaporte - Documento de identidad</label>
                  <input #inputs class="form-control" type = "text" formControlName="dni" placeholder = "Pasaporte - Documento de identidad" (keyup.enter)="move.keytab(questions, 8)">
                </div>

                <div class="col-sm-6">
                  <label>Nacionalidad</label>
                  <input #inputs class="form-control" type = "text" formControlName="nacionalidad" placeholder = "Nacionalidad" (keyup.enter)="move.keytab(questions, 9)">
                </div>

                <div class="col-sm-6">
                  <label>Fecha de nacimiento</label>
                  <input #inputs class="form-control" type = "date" formControlName="fecha" placeholder = "Fecha de nacimiento" (keyup.enter)="move.keytab(questions, 10)">
                </div>


                <div class="col-sm-6">
                  <label>Teléfono</label>
                  <input #inputs class="form-control" type = "number" formControlName="telefono" placeholder = "Teléfono" (keyup.enter)="move.keytab(questions, 11)">
                </div>


                <div class="col-sm-6">
                  <label>Operador</label>
                  <input #inputs class="form-control" type = "text" formControlName="operador" placeholder = "Operador" (keyup.enter)="onClickSubmit()">
                </div>
              </div>
            </form>

            <!-- Botones Guardar - limpar-->
            <div class="row">
              <div class="col-sm-6">
                <button type = "submit" class="btn btn-primary btn-block" (click)="onClickSubmit()"> Guardar </button>
              </div>
              <div class="col-sm-6">
                <button type = "submit" class="btn btn-secondary btn-block" (click)="login.reset()"> Limpiar </button>
              </div>
            </div>
            <!-- FIN Botones Guardar - limpar-->

      </div>
    </div>
  </div>
</div>
