
<div id="main">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile class="matti" (click)="amonos('/clientes')">Clientes</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/multas')">Multas</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/intermediarios')">Intermediarios</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/operadores')">Operadores</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/contratos')">Contratos</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/prolongar')">Prolongar contrato</mat-grid-tile>

    <mat-grid-tile class="matti" (click)="amonos('/reservas')">Reservas</mat-grid-tile>

    <mat-grid-tile class="matti" (click)="amonos('/vehiculos')">Vehículos</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/flota')">Flota</mat-grid-tile>
    <mat-grid-tile class="matti" (click)="amonos('/listas')">Listas</mat-grid-tile>

    <mat-grid-tile class="matti" (click)="amonos('/contabilidad')">Contabilidad</mat-grid-tile>

  </mat-grid-list>
</div>
